#app {
    .swiper-container {
        height: 1.95rem;
        box-sizing: border-box;

        .swiper-slide {
            width: 100%;
            height: 1.9rem;
            position: relative;
            display: flex;
            // justify-content: center;
            // align-items: center;
            // overflow: hidden;
            box-sizing: border-box;

            img {
                width: 100%;
                // height: 100%;
            }

            span {
                display: block;
                position: absolute;
                left: 0rem;
                bottom: 0rem;
                width: 100%;
                height: 0.5rem;
                font-size: 0.16rem;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 0.5rem;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                padding: 0.1rem 0 0 0.1rem;
            }
        }

        .swiper-pagination {
            display: flex;
            justify-content: flex-end;
            height: 0.12rem;

            .swiper-pagination-bullet {
                width: 0.06rem;
                height: 0.06rem;
                background: #fff;
                margin-right: 0.075rem;
                margin-left: 0;
            }

            .swiper-pagination-bullet:last-child {
                margin-right: 0.12rem;
            }
        }
    }

    .tab {
        width: 100%;
        // height: 0.63rem;
        // margin-top: 0.1rem;

        .tab_2 {
            margin-top: 0.11rem;
            padding: 0 0.16rem;
        }

        .tab_3 {
            padding-top: 0.2rem;
            border-top: 1px solid #EEE;

            .imgBox {
                width: 0.5rem;
                height: 0.5rem;
            }
        }

        .tab_4 {
            padding-top: 0.1rem;

            .imgBox {
                width: 0.45rem;
                height: 0.45rem;
                border-radius: 50%;
            }
        }

        ul {
            // overflow-x: auto;
            // height: 0.63rem;
            display: flex;
            justify-content: space-between;

            // padding: 0 0.4rem;
            li {
                width: 33.333%;
                // height: .63rem;
                display: flex;
                justify-content: center;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    float: left;
                }

                .imgBox {
                    width: 0.45rem;
                    height: 0.45rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    margin-top: 0.075rem;
                    font-size: 0.12rem;
                    font-family: PingFangSC-Regular;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    margin-bottom: 0.075rem;
                }
            }

            li.active {
                border-bottom: 0.015rem solid #25A8FF;
            }
        }
    }

    .informationBox {
        .information {
            height: 0.06rem;
            margin-top: 0.18rem;
            position: relative;
            justify-content: center;
            display: flex;

            .margin0 {
                margin-left: 0;
            }

            span {
                font-size: 0.17rem;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                padding: 0 0.12rem;
                line-height: 0rem;
                display: inline-block;
                position: relative;
                margin-left: 0.5rem;

                .imgBox {
                    position: absolute;
                    left: -0.3rem;
                    top: -0.16rem;
                    width: 0.3rem;
                    height: 0.3rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .imgBox.leftLess {
                    left: -0.15rem;
                    width: 0.2rem;
                    height: 0.2rem;
                    top: -0.1rem;
                }

            }

            .marginLeftLess {
                margin-left: 0.3rem;
            }

            img {
                width: 0.9rem;
                height: 0.03rem;
            }
        }

        .SNinformation {
            padding: 0.2rem 0.12rem 0 0.12rem;

            .top {
                display: flex;
                justify-content: space-between;
                font-family: PingFangSC-Regular;
                font-weight: 400;

                .left {
                    color: rgba(37, 168, 255, 1);
                    font-size: 0.14rem;

                    img {
                        margin-top: 0.05rem;
                        width: 0.025rem;
                        height: 0.08rem;
                    }
                }

                .right {
                    color: rgba(153, 153, 153, 1);
                    font-size: 0.12rem
                }
            }

            .topPic {
                margin-top: 0.07rem;

                p {
                    margin-top: 0.15rem;
                    font-size: 0.14rem;
                    font-family: PingFangSC-Regular;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 0.2rem;
                }

                img {
                    margin-top: 0.15rem;
                    width: 100%;
                    height: 1.8rem;
                }
            }

            .videosBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .videoBox_left {
                    width: 50%;

                    .video_one {
                        margin-top: 0.12rem;
                        width: 1.7rem;
                        height: 1.125rem;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        position: relative;

                        video {
                            width: 100%;
                            object-fit: fill;
                            height: 100%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .play {
                            width: 0.41rem;
                            height: 0.125rem;
                            position: absolute;
                            right: 0.05rem;
                            bottom: 0.05rem;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            span {
                                display: inline-block;
                                position: absolute;
                                right: -0.01rem;
                                bottom: -0.01rem;
                                font-family: PingFangSC-Regular;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 1);
                                font-size: 0.1rem;
                                -webkit-transform: scale(0.9);
                            }
                        }
                    }

                    p {
                        margin-top: 0.075rem;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(51, 51, 51, 1);
                        font-size: 0.14rem;
                        width: 95%;
                        padding-left: 0.05rem;
                    }
                }
            }

            .list {
                margin-top: 0.17rem;
                padding-bottom: 0.09rem;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #EEE;

                .listLeft {
                    width: 2.3rem;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    span {
                        font-size: 0.16rem;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(51, 51, 51, 1);
                    }

                    .time {
                        display: flex;
                        height: 0.14rem;

                        span {
                            font-size: 0.1rem;
                            margin-right: 0.05rem;
                        }
                    }
                }

                .listRight {
                    width: 1.125rem;
                    height: 0.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                    }

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }

                    .play {
                        width: 0.41rem;
                        height: 0.125rem;
                        position: absolute;
                        right: 0.05rem;
                        bottom: 0.05rem;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        span {
                            display: inline-block;
                            position: absolute;
                            right: 0rem;
                            bottom: -0.01rem;
                            font-family: PingFangSC-Regular;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                            font-size: 0.1rem;
                            -webkit-transform: scale(0.9);
                        }
                    }
                }
            }

            .list:last-child {
                border: none;
            }

            .tujis {
                // width: 3rem;
                overflow: hidden;
                overflow-x: auto;

                // height: 1.6rem;
                ul {
                    overflow: hidden;
                    overflow-x: auto;
                    display: flex;
                }

                li {
                    margin-right: 0.15rem;
                    width: 1.17rem;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    text-align: center;

                    .liImg {
                        width: 1.17rem;
                        height: 1.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #000;
                        overflow: hidden;

                        img {
                            width: 100%;
                            // height: 100%;
                        }
                    }

                    span {
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(51, 51, 51, 1);
                        font-size: 0.14rem;
                    }
                }
            }
        }
    }
}